{{template "header" .}}

<link rel="stylesheet" href="/public/css/apps.css"> 

<h1>APPS</h1>

{{template "nav-main"}}

<div>
    <ul>
        <li><a href="/apps/countdown">Countdown Timer</a></li>
        <li><a href="/apps/recipe">Recipe App</a></li>
    </ul>
</div>



{{template "footer"}}
